/* Sets a minimum body width for the extension and removes spin buttons from number inputs*/
body {
    min-width: 350px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}